<h2 class="where"><%= @experience.studio_name %></h2>
<h3><%= @experience.yoga.type %> Yoga in <%= @experience.city.name %>, <%= @experience.country.name %>.</h3>
<div>
    <% if @experience.visited == "t" %>
      <h3>VISITED!</h3>
    <% end %>
  </div>
  <br>
<p class="info"><%= @experience.description %></p>
<img class="studio" src="<%= @experience.image_url %>" alt="<%= @experience.studio_name %>">
<div>
  <% if @experience.bucket_list == "t" %>
    <p class=btn-added><%= @experience.studio_name %> is on your bucket list!</p>
  <% else %>
    <form action="/yoga-experiences/<%= @experience.id %>" method="POST">
      <input class="btn-add-to-bucket-list" type="submit" value="Add to Bucket List?" />
    </form>
  <% end %>
</div>
