<h2 class="where"><%= @country.name %></h2>
<div class="sort">
  <% if @country.visited == "t" %>
    <h3 class="updated">VISITED!</h3>
  <% else %>
    <form action="/countries/<%= @country.id %>" method="POST">
      <label>NOT YET VISITED</label>
        <input class="btn update-visited" type="submit" value="Update" />
      </form>
  <% end %>
</div>
<br>
<div class="grid-container">
  <% for city in @country.cities %>
    <div class="grid-item">
      <a href="/cities/<%= city.id %>"><img src="<%= city.image_url %>" alt="<%= city.name %>"></a>
      <p><a href="/cities/<%= city.id %>"><%= city.name %></a></p>
    </div>
  <% end %>
</div>
