<h2 class="where">My Zen</h2>
<div class="flex-box">
  <div class="row">
    <div class="column">
      <div class="bucket-list">
        <h3 class="zen-title">Your Bucket List:</h3><br>
        <div class="grid-container">
          <% for experience in @experiences %>
            <% if experience.bucket_list == "t" %>
              <div class="grid-item">
                <a href="/yoga-experiences/<%= experience.id %>"><img src="<%= experience.image_url %>" alt="<%= experience.studio_name %>"></a><br>
                <p>
                  <a href="/yoga-experiences/<%= experience.id %>"><%= experience.studio_name %></a>
                </p>
                <p class="info"><%= experience.city.name %>,
                  <%= experience.country.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='column'>
      <div class='been-here'>
        <h3 class="zen-title">Places You've Visited:</h3><br>
        <div class="grid-container">
          <% for country in @countries %>
            <% if country.visited == "t" %>
              <div class="grid-item">
                <a href="/countries/<%= country.id %>"><img src="<%= country.image_url %>" alt="<%= country.name %>"></a>
                <a href="/countries/<%= country.id %>"><%= country.name %></a><br>
              </div>
            <% end %>
          <% end %>

          <% for city in @cities %>
            <% if city.visited == "t" %>
              <div class="grid-item">
                <a href="/cities/<%= city.id %>"><img src="<%= city.image_url %>" alt="<%= city.name %>"></a>
                <a href="/cities/<%= city.id %>"><%= city.name %></a><br>
              </div>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
